.mainContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: var(--masterSpacing);
    margin-left: calc(-2 * var(--masterSpacing));
    margin-right: calc(-2 * var(--masterSpacing));
    /* border: 1px solid red; */
}

.topMediaWrapper {
    width: 100%;
    position: relative; 
}

.bottomSection {
    display: flex;
    gap: var(--masterSpacing);
    height: 50vh;
    /* border: 1px solid red; */
}

.buttonContainer {
    margin-left: -5px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--masterSpacing);
    align-items: center;
}

.bottomLeft,
.bottomRight {
    flex: 1;
    display: flex;
}

.bottomLeft {
    align-items: flex-end; 
    justify-content: flex-start;
    box-sizing: border-box;
}

.bottomRight {
    flex-direction: column;
    gap: var(--masterSpacing);
    /* border: 1px solid red; */
}

.rightTop {
    padding-top: var(--imageTextSpacing);
    padding-bottom: var(--textGap);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.rightBottom {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    gap: var(--textGap)
}

.rightBottom h2 {
    color: var(--grey);
    margin: 0;
}

@media (max-width: 768px) {
    .bottomSection {
        flex-direction: column;
        height: auto;
    }

    .bottomLeft, .bottomRight {
        min-height: 25vh; 
    }
}