:root {
  --gap: 30px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

body {
  position: relative;
  border:1px solid red;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

body::-webkit-scrollbar {
  display: none;
}

.page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap); /* Adjust spacing between columns */
  width: 100%;
  margin: 0 auto; /* Center the grid */
  padding: var(--gap);
  border: 1px solid red;
}