.canStyle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    /* border: 1px solid blue; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    /* border: 1px solid red */
}

.leftButton, .rightButton {
    width: 50px;
    height: 50px;
    /* background-color: var(--black); */
    cursor: pointer;
    position: absolute;
    padding: 4px;
    border: 2px solid var(--black);
    border-radius: 40px;
    z-index: 3;
}

.rightButton {
    transform: rotate(180deg);
    right: 0;
    margin-right:8vw;
}

.leftButton {
    left:0;
    margin-left:8vw;
}

@media (max-width: 1400px) {
    .canStyle {
        position: relative;
    }
}