.overlay{
    position:fixed;
    width:100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
}

.bar {
    width: 10vw;
    height: 105vh;
    background-color: var(--black);
}

.counter{

    color: var(--white);
}