.mobileNav {
    position: fixed;
    top:0;
    right: 0;
    /* margin: var(--sideSpacing); */
    border-radius: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid red; */
    cursor: pointer;
    /* overflow: hidden; */
    transform: translateX(100px) scale(0.1);
}
  
.arrowDivMobile {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    width: 60px;
    height: 60px;
    z-index: 1;
}
  
.arrowMobileContainer {
    position: absolute;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
}


.mobileNavBackgroundWrap {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateY(calc( -1 * var(--sideSpacing))) translateX(var(--sideSpacing));
    width: 0;
    height: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 100%;
    /* z-index: 100; */
}