
.nameContainer {
  width: auto;
  min-width: 5rem;
  
  /* margin: calc(3 * var(--masterSpacing)) calc(2 * var(--masterSpacingDouble)); */
  margin-left: calc(2 * var(--masterSpacingDouble));
  padding-top: calc(3 * var(--masterSpacing));
  /* position: absolute; 
  top: calc(3 * var(--masterSpacing));
  left: calc(2 * var(--masterSpacingDouble)); */
  cursor: pointer;
  overflow: hidden;
  pointer-events: all;
}

.nameContainer h1 {
  margin: 0;
  display: flex;
  white-space: nowrap;
  text-transform: lowercase;
  user-select: none;
}

.nameContainer h1 span {
  display: inline-block;
  min-width: 0.2ch;
    /* border: 1px solid blue; */
}

.nameOuterHome {
  position: absolute;
  top: 0;
  left: 0;
  
  width: auto;
  /* border: 1px solid red; */
  z-index: 1000 !important; 
}

.nameOuterHome > div {
  position: absolute;
  margin-top: 80vh;
  /* height: 1000vh; */
  left: 0;
  width: auto;
  pointer-events: none;
}

.isLarge {
  pointer-events: none;
  min-width: 20rem;
}

.nameOuterHidden {
  display: none; /* Or visibility: hidden; position: absolute; */
}