.container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: fit-content;
    position: relative;
    transition: grid-template-columns 0.5s ease-in-out;
}

.textContainer {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    column-gap:var(--relatedComponentGap);
}

.projectMedia {
    grid-column: 2/3;
}

.paragraph {
    display: inline-block;
    margin:0;
    margin-right: var(--marginRightParagraph);
}

.header {
    margin-right: var(--marginRightH4);
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
        gap:40px;
    }

    .textContainer {
        grid-row: 1/2;
    }

    .projectMedia {
        grid-column: 1/2;
        grid-row: 2/3;
    }
}