
.nameOuter {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end;  */
    height: 100vh;
    width: 100%;
    top:0;
    border: 1px solid red;
    position:fixed;
}

.nameContainer {
    border: 1px solid blue;
    width: 100%;
    background-color: var(--white); /* Or your page's background color */
}

.nameContainer h1 {
    margin: 0;
}