
.nameContainer {
  border: 1px solid blue;
  width: 100%;
}
.nameContainer h1 {
  margin: 0;
  display: flex;
  white-space: nowrap;
}

.nameContainer h1 span {
  display: inline-block;
  min-width: 0.2ch;
}

.nameOuterHome {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;
  border: 1px solid red;
}

.nameOuterHome > div {
  position: absolute;
  margin-top: 80vh;
  left: 0;
  width: 100%;
}

.nameOuterOther {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; 
  width: 100%;
  border: 1px solid green;
}

          /* <span className="letter-keep">S</span>
          <span className="letter-keep">e</span>
          <span className="letter-keep">b</span>
          <span className="letter-hide">a</span>
          <span className="letter-hide">s</span>
          <span className="letter-hide">t</span>
          <span className="letter-hide">i</span>
          <span className="letter-hide">a</span>
          <span className="letter-hide">n</span>
          <span className="letter-hide"> </span>
          <span className="letter-move">f</span>
          <span className="letter-move">o</span>
          <span className="letter-move">k</span> */