
.nameContainer {
  border: 1px solid blue;
  width: 100%;
}
.nameContainer h1 {
  margin: 0;
}

.nameOuterHome {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;
  border: 1px solid red;
}

.nameOuterHome > div {
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 100%;
}

.nameOuterOther {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; 
  width: 100%;
  border: 1px solid green;
}