.hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-left: calc(1 * var(--sideSpacing));
    padding-right: calc(1 * var(--sideSpacing));
    position: relative;
}

.hero h1 {
    font-size: 12vw;
    position: relative;
}

.hero h3 {
    font-size: 3vw;
    margin-bottom: 1.7vw;
    font-family: "KosugiMaru";
    color: var(--grey);
}

.japaneseWrap {

}

.japanese{
    opacity: 0;
    display: inline-block;
}

.letter {
    opacity: 0;
    display: inline-block;
}