.carouselContainer {
    width: 100vw; /* Take up full screen width */
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    gap: var(--relatedComponentGap); /* Add some space between items */
}

.carouselTrack {
    display: flex;
    width: max-content; /* Allow the track to be as wide as its content */
    will-change: transform; /* Optimize for animation */
}

.carouselItem {
    flex-shrink: 0; /* Prevent items from shrinking */
    width: 70vw; /* Each item takes up 70% of the viewport width */
    max-width: 350px;
    margin: 0 1rem;
}
