.navbar {
    width: 100%;
    padding: calc(3 * var(--masterSpacing)) calc(2 * var(--masterSpacingDouble));
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    user-select: none;
    pointer-events: none;
}

.desktopNav {
    display: flex;
    gap: 2rem;
    pointer-events: auto;
}

.desktopNav a {
    color: var(--black); /* You can change this to use the textColor prop */
    text-decoration: none;
    font-size: 1rem;
    position: relative;
    padding-bottom: 4px;
}

.desktopNav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--black);
    transition: width 0.3s ease-out;
}

.desktopNav a:hover::after {
    width: 100%;
}
