.fullWithNavbar{
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    left:0;
    padding: 20px 90px;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 16px */
    letter-spacing: 1.6px;
    color: var(--blue);
    text-decoration: none;
    flex-shrink: 0;
}

.navPages{
    display: flex;
    justify-content: space-between;
    gap:40px;
}

.linkContainer{
    padding: 6px 12px;
    display: flex;
    align-items: center;
}