:root {
  --white: #F4F4F4;
  --black: #111111;
}

*{
  padding:0;
  margin:0;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/public/fonts/Helvetica/');
}

@font-face {
  font-family: 'Helvetica-bold';
  src: url('/public/fonts/Helvetica/HELVETICA-BOLD.TTF');
}

@font-face {
  font-family: 'maru';
  src: url('/fonts/MARU/PPNIKKEIMARU-REGULAR.OTF');
}

@font-face {
  font-family: 'maru-light';
  src: url('/fonts/MARU/PPNIKKEIMARU-LIGHT.OTF');
}

h1, h2, h3, h4, h5, h6, p{
  margin:0;
  padding:0;
}

h4{
  font-size: 2.25rem;
}

h5{
  font-size: 1.5rem;
}

h6{
 font-size: 1rem;
}