.main {
  width: 100%;
}

.landingSection{
  width:100%;
  padding-top: 5vw;
  display:flex;
  justify-content: space-between;
  border: 1px solid red;
}

.landingSectionLeft{
  padding-top: 5vw;
  padding-left: 15vw;
}

.logoSection{
  position: absolute;
  width:10vw;
  height: 5vw;
  display: grid;
  grid-template-columns: 55% 10% 35%;
  border: 1px solid red;
  font-family: 'maru';
}

.logoSection::after {
  content: '';
  position: absolute;
  top: 0;
  left: calc(55% + 5%);
  height: 100%;
  width: 2px;
  background-color: black;
}

.websiteName{
  display: flex;
  align-items: center;
  grid-column: 1/2;
  text-align: right;
  border: 1px solid blue;
  width:100%;
  height: 100%;
}

.websiteJapan{
  grid-column: 3/4;
  text-align: left;
  border: 1px solid blue;
}

.imageContainer1{
  position: relative;
  width:60vw;
  height: 30vw;
}