.main {
  width: 100%;
}

.landingSection{
  width:100%;
  display:grid;
  grid-template-columns: auto auto;
  border: 1px solid red;
}

.landingSectionLeft{
  grid-column: 1/2;
}

.imageContainer1{
  position: relative;
  width:60vw;
  height: 30vw;
  grid-column: 2/3;
}