.main {
  width: 100%;
}

.landingSection{
  width:100%;
  padding-top: 5vw;
  display:flex;
  justify-content: space-between;
  border: 1px solid red;
}

.landingSectionLeft{
  padding-top: 5vw;
  padding-left: 15vw;
}

.logoSection{
  display: flex;
  width:10rem;
  border: 1px solid red;
}

.websiteName{
  width:60%;
  border: 1px solid blue;
}

.websiteJapan{
  border: 1px solid blue;
}

.imageContainer1{
  position: relative;
  width:60vw;
  height: 30vw;
}