.main {
  width: 100%;
}

.landingSection{
  width:100%;
  padding-top: 5vw;
  display:flex;
  justify-content: space-between;
  border: 1px solid red;
}

.landingSectionLeft{
  padding-top: 5vw;
  padding-left: 15vw;
}

.logoSection{
  width:10rem;
  display: grid;
  grid-template-columns: 60% 30%;
  grid-gap: 10%;
  border: 1px solid red;

}

.websiteName{
  border: 1px solid blue;
  grid-column: 1/2;
  text-align: right;
}

.websiteJapan{
  border: 1px solid blue;
  grid-column: 2/3;
  text-align: left;
}

.imageContainer1{
  position: relative;
  width:60vw;
  height: 30vw;
}