.main {
  width: 100%;
}

.landingSection{
  width:100%;
  padding-top: 5vw;
  display:flex;
  justify-content: space-between;
  border: 1px solid red;
}

.landingSectionLeft{
  padding-top: 5vw;
  padding-left: 15vw;
}

.logoSection{
  width:10rem;
  display: grid;
  grid-template-columns: 55% 35%;
  grid-gap: 10%;
  border: 1px solid red;
}

.logoSection::after {
  content: '';
  position: absolute;
  top: 0; /* Position the line at the top of the container */
  left: calc(50% - 1px); /* Position the line in the middle of the gap */
  height: 100%; /* Height of the line (equal to the container's height) */
  width: 2px; /* Width of the line */
  background-color: black; /* Line color */
}

.websiteName{
  border: 1px solid blue;
  grid-column: 1/2;
  text-align: right;
}

.websiteJapan{
  border: 1px solid blue;
  grid-column: 2/3;
  text-align: left;
}

.imageContainer1{
  position: relative;
  width:60vw;
  height: 30vw;
}