.imageContainerImage {
    margin-top: 10vh;
    position: relative;
    right: 0;
    width: 60vw;
    height: 30vw;
    margin-bottom: 10vh;
}

.header{
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    width:100%;
    z-index: 2;
}

.letters{
    flex:1;
    display: flex;
    font-family: 'Helvetica';
    font-weight: bold;
    color: var(--black);
}

.letters > div {

    text-align: center;
}

