.imageContainerImage {
    margin-top: 10vh;
    position: relative;
    right: 0;
    width: 60vw;
    height: 30vw;
    margin-bottom: 10vh;
}

.letters{
    font-family: 'Helvetica-bold';
    color: var(--white);
}