
.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    height: auto;
    position: relative;
    gap: var(--masterSpacing);
    /* box-sizing: border-box; */
    /* align-items: start;  */

}

.textContainerWrap {
    /* border: 1px solid red; */
    height: auto;
    display: flex;
    align-items: flex-end;
    padding-bottom: var(--masterSpacing);
}

.gridColumn {
    width: 100%; 
    height: 100%;
    position: relative;
    display: flex; 
    flex-direction: column; 
    /* border: 1px dashed blue; */
}

.mediaColumn {
    display: flex;
    gap: var(--masterSpacing);
    flex-direction: column;
}

.leftGridColumn {
    position: relative;
}

.rightGridColumn {
    position: relative;
}

.textContainerWrap {
    position: relative;
    display: flex;
    justify-content:flex-end;
    align-items: flex-start;
    flex-direction: column;
    gap: var(--masterSpacing);
    height: 100vh;
    /* border: 1px dashed blue; */
}


.mediaItemWrapper {
    width: 100%;
    position: relative;
}

/* Mobile Layout Adjustments */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 75% 25%;
        gap: var(--imageTextSpacing); 
        width: 100%;
        /* height: 100vh; */
    }

    /* Your .textContentWrapper style for mobile */
    .textContainerWrap {
        /* border: 1px solid red; */
        height: auto;
    }
}

/*
  Note: The .splitLine class for GSAP text animation is defined in
  TextContainer.module.css and will be applied by the TextContainer component itself.
*/