body, html, #__next {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent scrollbars from canvas */
  background-color: #000010; /* Dark space background */
}

canvas {
  display: block; /* Removes bottom space */
}