.pinSectionContainer {
    max-width: 100%;
    position: relative;
    user-select: none;
}

.cardsSection {
    max-width: 100%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero {
    position: relative;
    max-width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid yellow */
}

.hero h1 {
    color: var(--sand);
    text-align: center;
}

.bottom {
    position: relative;
    max-width: 100%;
    height: 100vh;
}

.card {
    position: relative;
    height: 60vh;
    width: 100%;
}

.cardInner {
    position: relative;
    display: grid;
    grid-template-columns: 65% calc(35% - var(--relatedComponentGap));
    cursor: pointer;
    height: 100%;
    max-width: 100%;
    /* object-fit: contain; */
    padding: 90px; /*if you change padding you need to change the scrolltrigger percent for the last card*/
    /* padding-left: 90px;
    padding-right: 90px;
    padding-top: var(--relatedComponentGap);
    padding-bottom: var(--relatedComponentGap); */
    border-radius: var(--imgBorderRadius);
    gap: var(--relatedComponentGap);
}

.cardContent {
    display: grid;
    position: relative;
    /* overflow: hidden; */ /*ASK ABOUT RESPONSIVE*/
    grid-column: 1/2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60% 40%;
    transition: ease 1s;
    width: 100%;
    column-gap: 90px;
}

.cardImg {
    border-radius: var(--imgBorderRadius);
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: var(--imgBorderRadius);
}

.cardContent h2 {
    grid-column: 1/3;
}

.cardContent h5 {
    grid-column: 1/2;
    grid-row: 2/3;
    text-transform: none;
    font-weight: 500;
    width: fit-content;
}

.cardContent li {
    grid-column: 2/3;
    grid-row: 2/3;
    width: fit-content;
}
.cardContent ul {
    list-style: none;
}

.headingText {
    display: inline-block;
}

@media (max-width: 768px) {

    .cardsSection {
        overflow: visible;
        position: relative;
        /* margin-left: -30px; */
    }

    .cardInner {
        width: 100%;
        overflow: hidden;
        padding-left: 30px;
        padding-right: 30px;
    }

    .card {
        /* width: 80vw; */
    }
}