.logoSection{
    margin-top: 15vh;
    margin-left: 15vw;
    position: absolute;
    width:14vw;
    height: 5vh;
    display: grid;
    grid-template-columns: 60% 1% 40%;
    align-items: center;
    /* border: 1px solid red; */
}

.websiteName{
    display: flex;
    justify-content: flex-end;
    grid-column: 1/2;
    color: var(--black);
    font-family: 'maru';
    overflow: hidden;
    /* border: 1px solid blue; */
}

.websiteNameHeader{
    margin-right: -5vw;
}

.websiteJapanHeader{
    margin-left: -5vw;
}

.onePixelDiv {
    height: 0;
    width: 1px;
    background-color: black;
    position:relative;
}

.websiteJapan{
    grid-column: 3/4;
    color: var(--black);
    font-family: 'maru-light';
    letter-spacing: 0.3rem;
    overflow: hidden;
    /* border: 1px solid blue; */
}