:root{
  background-color: white;
  object-fit: cover;
  overflow: hidden;

  --white: #FAFDFF;
  --grey: #B4B7B6;
  --black: #0D0F11;

  --lightBlue: #B0CADF;
  --kleinBlue: #0051AC;
  --sand: #FCF2DF;
  --brown: #452B1D;


}

html, body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .body {

  }
}

@media (max-width: 480px) {

}

/* Extralight */
@font-face {
  font-family: 'PPMori';
  src: url('/fonts/PPMori/PPMori-Extralight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PPMori';
  src: url('/fonts/PPMori/PPMori-ExtralightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: 'PPMori';
  src: url('/fonts/PPMori/PPMori-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PPMori';
  src: url('/fonts/PPMori/PPMori-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

/* Semibold */
@font-face {
  font-family: 'PPMori';
  src: url('/fonts/PPMori/PPMori-SemiBold.otf') format('opentype');
  font-weight: 600; 
  font-style: normal;
}

@font-face {
  font-family: 'PPMori';
  src: url('/fonts/PPMori/PPMori-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}
