:root{
  background-color: var(--white);

  --white: #FAFDFF;
  --grey: #B4B7B6;
  --black: #0D0F11;

  --lightBlue: #B0CADF;
  --blue: #0051AC;
  --sand: #EBE3D5;
  --brown: #452B1D;

  --font-primary: "TWK Lausanne", sans-serif;
  --font-weight-button: 600;

  --paddingleftRight: 90px;
  --itemSpacing: 180px;
  --imgBorderRadius:10px;
  --relatedComponentGap:40px;
  --textGap:20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* border: 5px solid green */
}

html, body {
  box-sizing: border-box;
  display: flex;

}

body {
  position: relative;
  margin-left: 90px;
  margin-right: 90px;
  /* border:1px solid red; */
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1, h2, h3, h4, h5, p{
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
}

a {
  all: unset;
  cursor: pointer;
}

/* Font Face Declaration */
@font-face {
  font-family: "TWK Lausanne";
  src: url("/fonts/Lausanne/TWKLausanne-200.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "TWK Lausanne";
  src: url("/fonts/Lausanne/TWKLausanne-400.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TWK Lausanne";
  src: url("/fonts/Lausanne/TWKLausanne-500.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TWK Lausanne";
  src: url("/fonts/Lausanne/TWKLausanne-600.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "TWK Lausanne";
  src: url("/fonts/Lausanne/TWKLausanne-700.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TWK Lausanne";
  src: url("/fonts/Lausanne/TWKLausanne-800.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

/* Headings */
h1 {
  font-family: var(--font-primary);
  font-size: 130px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 70.4px */
  margin-top: -24px;
  /* margin-left: -10px; */
}

h2 {
  font-family: var(--font-primary);
  font-size: 96px;
  /* font-size: 48px; */
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  margin-top: -14px;
  margin-left: -8px;
}

h3 {
  font-family: var(--font-primary);
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 32px */
}

h4 {
  font-family: var(--font-primary);
  font-size: 26px;
  /* font-style: normal; */
  font-weight: 600;
  /* line-height: 100%; */
}

h5 {
  font-family: var(--font-primary);
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.h5stretched {
  font-family: var(--font-primary);
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2px;
}

/* Paragraph Styles */
p {
  font-family: var(--font-primary);
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: 1.5;
}

/* Page Styles */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: var(--itemSpacing);
  padding-left: var(--paddingleftRight);
  padding-right: var(--paddingleftRight);
}

/* Responsive */

@media (max-width: 768px) {
  :root {
    --itemSpacing: 90px;
  }

  body {
    margin-left: 30px;
    margin-right: 30px;
  }

  h1 {
    font-size: 96px;
  }

  h2 {
    font-size: 72px;
  }

  h3 {
    font-size: 56px;
  }

  p {
    font-size: 14px;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

/* @media (max-width: 480px) {

} */