.clientName {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.clientName h3 {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  color: #FFF;
  user-select: none;
  line-height: 0.85;
}

.clientName::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 100%;
  height: 0.2rem;
  background-color: #FFF;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-out;
}

.clientName:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

@media (orientation: portrait) {
  .clientName h3 {
    font-size: 1.5rem;
    line-height: 1;
    word-break: break-word;
  }
}

@media (max-width: 768px) {
  .clientName h3 {
    font-size: 2rem;
  }
}
