.clients {
  position: relative;
  width: 100%;
  height: 100svh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
  align-items: flex-start;
  overflow: hidden;
}

.clientsPreview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.clientsHeader {
  position: relative;
  z-index: 1;
}

.clientsHeaderText {
  color: #acacac;
}

.clientsList {
  position: relative;
  width: 80%;
  margin-bottom: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.75rem;
  mix-blend-mode: difference;
  z-index: 2;
}

@media (max-width: 768px) {
  .h3 {
    font-size: 3.6rem;
  }
}

@media (orientation: portrait) {
  .clientsPreview {
    width: 50%;
    height: 50%;
  }
  
  .clientsList {
    width: 70%;
  }

  .clients {
    padding: 0;
  }

  .clientsHeader,
  .clientsList {
    padding: 2rem;
  }

  .clientsPreview {
    width: 82vw;
    height: 78vh;
  }
}

@media (orientation: portrait) {
  .clients {
    padding: 1rem;
    gap: 1rem;
  }

  .clientsPreview {
    width: 100%;
    height: 50%;
    top: 25%;
  }

  .clientsList {
    width: 100%;
    margin-bottom: 0;
  }
}
