.clients {
  position: relative;
  width: 100%;
  height: 100svh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
  align-items: flex-start;
  overflow: hidden;
  background-color: #000;
}

.clientsPreview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: 75%;
  pointer-events: none;
  z-index: 0;
}

.clientsHeader {
  position: relative;
  z-index: 1;
}

.clientsHeaderText {
  color: #acacac;
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.clientsList {
  position: relative;
  width: 80%;
  margin-bottom: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.75rem;
  z-index: 2;
}

@media (orientation: portrait) {
  .clients {
    padding: 1rem;
    gap: 1rem;
  }

  .clientsPreview {
    width: 100%;
    height: 50%;
    top: 25%;
  }

  .clientsList {
    width: 100%;
    margin-bottom: 0;
  }
}
