.headerArea{
    position:sticky;
    top:0;
    width:100%;
    height: 10rem;
    display:flex;
    justify-content: center;
    /* border: 1px solid red; */
}

.headerContainer{
    position:absolute;
    top:0;
    /* border: 1px solid blue; */
    width:50vw;
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.buttonContainer{
    position:sticky;
    top: 5rem;
    padding-top: 6rem;
    width:18%;
    overflow: hidden;
}

.onePixelDivHorizontal{
    width: 0;
    height: 1px;
}

.navigationLink{
    text-decoration: none;
}

.headerNames{
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;;
    font-family: 'maru-light';
    letter-spacing: 0.1rem;
    font-weight: 100;
    margin-left: -5rem;
    /* border: 1px solid blue; */
    transition: 0.3s ease;
}

.headerNames:hover{
    opacity: 0.6;
}

.buttonContainer:nth-child(1){
    margin-top: 0rem;
}

.buttonContainer:nth-child(2){
    margin-top: -2rem;
}

.buttonContainer:nth-child(3){
    margin-top: -4rem;
}

.buttonContainer:nth-child(4){
    margin-top: -6rem;
}