.motionPage {
    width: 100%;
}

.spacerSection {
    height: 90vh;
}

.motionContaine {
    height: 60vh;
    /* height: 300vh; */
    /* width: 100vw; */
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red */
}

.motionContent {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: var(--itemSpacing);
}

