.motionPage {
    width: 100%;
}

.motionContainer {
    height: 100vh;
    /* height: 300vh; */
    /* width: 100vw; */
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red */
}

.motionContainer h1 {
    color: var(--sand);
    text-align: center;
}

.motionContent {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: var(--itemSpacing)
}

