.entireContainer{
    position:absolute;
}

.imageContainer{
    border: 1px solid red;
}

.helvParagraph{
    color: var(--black);
    font-family: Helvetica;
    padding-top: 0rem;
    z-index: 1;
}