.imageContainer{
    border: 1px solid red;
    position:absolute;
    margin-top: 20vh;
}

.helvParagraph{
    color: var(--white);
    font-family: Helvetica;
    position: absolute;
    bottom:0;
    z-index: 1;
}