@font-face {
	font-family: 'TWKLausanne';
	src: local('TWKLausanne'),
	url('TWKLausanne-700.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
	--main-font: 'TWKLausanne', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h3 {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 6rem;
    margin: 0;
    padding: 0;
}

body {
	font-family: var(--main-font);
	margin: 0;
	padding: 0;
}

/* Add additional styles below as needed */
