
.canvasArea {
    height: 100vh;
    position: relative;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
}

.sectionTwoSideBySide {
    display: grid;
    grid-template-columns: auto auto;
    gap: var(--relatedComponentGap);
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .sectionTwoSideBySide {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
}