.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
    position: relative;
    transition: 0.5s ease-in-out;
    gap: var(--relatedComponentGap);
    border: 1px solid red;
}

.mediaColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
    gap: var(--relatedComponentGap);
}

.textColumn {
    width: 100%;
    position: relative;
    border: 1px solid blue;
}

.textContentWrapper {
    position: relative;
}

.buttonContainer {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.inlineMediaWrapper {
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        gap: var(--relatedComponentGap);
    }
    .textContentWrapper {
        padding: 0; /* Add some horizontal padding on mobile */
        border: 1px solid green;
        width: 100%;
    }
}
