.headerContainer {
    height: 60vh;
    margin-bottom: 5rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    /* border: 1px solid green */
}

.headerBig {
    font-size: 15vw;
    font-weight: 400;
    margin-bottom: -2.5vw;
    /* border: 1px solid red */
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--masterSpacingDouble); 
    /* row-gap: calc(4 * var(--relatedComponentGap)); */
    min-width: 0;
    /* border: 1px solid green; */
    /* background-color: var(--black); */
    
}

.spacer {
    height: 20vh;
}

@media (max-width: 768px) {
    .headerBig {
        font-size: 20vw;
    }
    .gridContainer {
        grid-template-columns: 1fr;
        row-gap: calc(2 * var(--relatedComponentGap));
    }
}