.headerContainer {
    padding-top: 15rem;
    padding-bottom: 5rem;
    width: 100%;
    border: 1px solid green
}

.headerBig {
    font-size: 15vw;
    font-weight: 400;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(2 * var(--masterSpacing)); 
    row-gap: calc(4 * var(--relatedComponentGap));
    min-width: 0;
}

.separator {
    position:relative;
    margin-left: 0.5em; /* 1em is equal to the font-size */
    margin-right: 0.5em;
}

@media (max-width: 768px) {
    .headerBig {
        font-size: 20vw;
    }
    .gridContainer {
        grid-template-columns: 1fr;
        row-gap: calc(2 * var(--relatedComponentGap));
    }
}