.projectCardWrap {
    display: flex;
    flex-direction: column;
    gap: var(--masterSpacing);
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    /* border: 1px solid red; */
    position: relative;
    flex-grow: 1;
}

.mediaWrapper {
    /* flex-grow: 1; */
    height: 100%;
    position: relative; 
    display: flex;
    overflow: hidden;
}

.mediaWrapper > * {
  flex-grow: 1;
}


.arrowDiv {
    position: absolute;
    display: flex;
    align-items: center;
    /* border: 1px solid green; */
    width: 100%;
    height: 100%;
    transform: translateX(-40px);
    /* overflow: hidden; */
}

.arrowContainer {
    width: 25px;
    height: 25px;
    display: flex;
    position:absolute;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg) scale(0.8);
    /* border: 1px solid blue */
}

.textContainer {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    gap: var(--masterSpacing);
}

.paragraph {
    margin-top: var(--masterSpacing);
    text-transform: uppercase;
    color: var(--grey);
}

.separator {
    position:relative;
    margin-left: 0.5em; /* 1em is equal to the font-size */
    margin-right: 0.5em;
}