.canContainer {
    width: 100vw;
    /* width: 100%; */
    margin-left: -90px;
    height: 100vh;
    border: 1px solid var(--blue);
    padding-bottom: 40px;
}

.projectContainer {
    display: flex;
    width: 100%;
    height: 100vh;
    border: 1px solid var(--blue);
}

.imgTag {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.projects {
    position: relative;
    display: flex;
    flex-direction: column;
    /* gap:20px */
}

.indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    transform: translateY(0px);
    background-color: var(--blue);
}

.projectName {
    width: max-content;
    height: 40px;
    z-index: 1;
}

.projectName h2 {
    color: var(--blue);
    transition: color 0.3s;
}

.projectName.active h2 {
    color: var(--white);
}

.projectImageWrapper {
    position: relative;
    width: 60%;
    height: 260px;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    /* change CHANGE TO IMAGE HEIGHT DONT CLIP IT*/
}

.projectImage {
    width: 100%;
    height: 2000px;
    transform: translateY(0px);
    will-change: transform;
}

.img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.projectCopy {
    width: 60%;
}

.line {
    position: relative;
    will-change: transform;
}

.progressBar {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 60%;
    background-color: var(--grey);
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    transform-origin: top;
    transform: scaleY(0);
    will-change: transform;
}

.index {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    padding: 4px 2px 2px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
}

.index span {
    line-height: 12px;
    width: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index span p {
    color: var(--white);
}

.seperator {
    position: relative;
    top:-1px;
    width: 20px;
    height: 2px;
    /* background-color: ; */
}

@media (max-width: 768px) {
    .projectContainer {
        flex-direction: column;
    }

    .col:nth-child(1) {
        padding-left: 25%;
        justify-content: flex-start;
    }

    .col:nth-child(2) {
        flex-direction: row;
        gap:10px
    }

    .projectImageWrapper {
        width: 25%;
    }
}