.heroSection {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.visualContainer {
    width: 100%;
    position: relative;
}

.projectContainer {
    position: relative;
    display: flex;
    align-items: center; 
    width: 100%;
    height: 100vh;
    border: 2px solid green;
}

.imgTag {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    width: 50%;
}

.projects {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* gap:20px */
}

.indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    transform: translateY(0px);
    background-color: var(--blue);
}

.projectName {
    width: max-content;
    display: flex;
    align-items: center;
    height: 40px;
    z-index: 1;
}

.projectName h2 {
    color: var(--blue);
    transition: color 0.3s;
}

.projectName.active h2 {
    color: var(--white);
}

.projectImageWrapper {
    position: relative;
    width: 60%;
    height: 260px;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    /* change CHANGE TO IMAGE HEIGHT DONT CLIP IT*/
}

.projectImage {
    width: 100%;
    height: 2000px;
    transform: translateY(0px);
    will-change: transform;
}

.img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.projectCopy {
    width: 60%;
}

.line {
    position: relative;
    will-change: transform;
}

.progressBar {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 60%;
    background-color: var(--grey);
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    transform-origin: top;
    transform: scaleY(0);
    will-change: transform;
}

.index {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    padding: 5px 5px 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 10px;
}

.index span {
    line-height: 12px;
    width: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index span p {
    color: var(--white);
}

.seperator {
    position: relative;
    top:-1px;
    width: 20px;
    height: 2px;
    /* background-color: ; */
}

@media (max-width: 768px) {
    .projectContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:80px;
    }

    .projects {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .col {
        width: 100%;
    }

    .col:nth-child(2) {
        flex-direction: row;
        gap:20px
    }

    .progressBar {
        top: -80px;
        height: 50%;
        transform: rotate(-90deg);
    }

    .index {
        top:120px;
        bottom:unset;
    }
}

