.topContainer{
    display: flex;
    align-content: space-between;
    flex-direction: column;
    /* gap: var(--relatedComponentGap); */
    /* width: calc(100vw - calc(var(--paddingleftRight) * 4)); */
    height: 100vh;
    border: 1px solid red;
    margin-left: calc(-2 * var(--paddingleftRight));
    margin-right: calc(-2 * var(--paddingleftRight));
}

.topContainerImage{
    height: 80vh;
}