.topContainer{
    display: flex;
    align-content: space-between;
    flex-direction: column;
    /* gap: var(--relatedComponentGap); */
    width: calc(100vw - calc(var(--paddingleftRight) * 4));
    height: 80vh;
    border: 1px solid red;
}

.heroContainer{
    border: 1px solid red;
    height: 80vh;
    position: relative;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: space-between;
    overflow: hidden;
}

.letter {
    display: inline-block;
    transform: translateY(20vh);
}

.name {
    color: var(--black);
    text-transform: none;
    font-size: 8vw;
}

.heroDescription {
    margin-bottom: 18px;
    flex:1;
}

.sectionContent {
    padding-top: var(--itemSpacing);
    width: 100vw;
    height: fit-content;
    position: relative;
    padding-left: calc(-1 * var(--paddingleftRight));
    padding-right: calc(-1 * var(--paddingleftRight));
}

.containerContent1 {
    width: 100%;
    height: calc(100vh - var(--itemSpacing));
    padding-left: calc(2 * var(--paddingleftRight));
    padding-right: calc(2 * var(--paddingleftRight));
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    transition: 0.3s ease;
    /* border: 1px solid green */
}

.containerContent1 h3 {
    text-transform: none;
}

.containerContent2 {
    width: 100%;
    height: calc(100vh - var(--itemSpacing));
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    transition: 0.3s ease;
    /* border: 1px solid green */
    /* overflow: hidden; */
}

.containerContent3 {
    width: 100%;
    height: fit-content;
    padding-left: calc(2 * var(--paddingleftRight));
    padding-right: calc(2 * var(--paddingleftRight));
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 0.3s ease;
}

.blueText {
    color: var(--blue);
}

.headerFive {
    letter-spacing: 2px;
    position: relative;
}

.headingContent {
    margin-top: calc(var(--itemSpacing) / 2);
}

.navigationSection {
    color: var(--blue);
    width: 100vw;
    box-sizing: border-box;

    padding-left: calc(2 * var(--paddingleftRight));
    padding-right: calc(2 * var(--paddingleftRight));

    height: clamp(100px, 6vw, 140px);
    display: flex; 
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    transition: background-color 0.3s;
}

.navDescription {
    color: var(--white);
    padding-right: calc(3 * var(--paddingleftRight));
}

@media (max-width: 768px) {
    .navigationSection {
        /* margin-left: -120px;
        padding-left: 120px; 
        width: calc(100vw - 30px); */
        height: 100px;
    }

    .topContainer {
        height: 98vh;
        gap: var(--relatedComponentGap);
        justify-content: flex-end;
    }

    .navDescription {
        display: none;
    }

    .containerContent, .containerContentContact {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 480px) {
    .containerContent2 {
        height: calc(80vh - var(--itemSpacing));
    }
}