.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
    position: relative;
    transition: 0.5s ease-in-out;
    gap: var(--relatedComponentGap);
}

.mediaContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
    gap: var(--relatedComponentGap);
    grid-column: 2/3;
}

.textSection {
    grid-column: 1/2;
    height: 100%;
    position: relative;
    overflow: visible;
    /* border: 1px solid green */
}

.textSticky {
    top:120px;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: var(--textGap);
    /* border: 1px solid yellow; */
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 0;
        row-gap: var(--relatedComponentGap);
    }
    .textSection {
        grid-row: 1/2;
        height: auto;
    }
    .mediaContainer {
        grid-row: 2/3;
        grid-column: 1/3;
    }
}
