.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
    position: relative;
    transition: 0.5s ease-in-out;
    column-gap: var(--relatedComponentGap);
}

.mediaContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
    gap: var(--relatedComponentGap);
    grid-column: 2/3;
}

.paragraph {
    display: inline-block;
    margin:0;
}

.textSection {
    grid-column: 1/2;
    height: 100%;
    position: relative;
    overflow: visible;
    /* border: 1px solid green */
}

.textSticky {
    position: sticky;
    top:120px;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap:var(--textGap);
    /* border: 1px solid yellow; */
}

@media (max-width: 768px) {
    .container {

    }
}