.gridContainer {
    display: grid;
    width: 100%;
    /* height: min(60vw, 100vh); */
    grid-template-columns: repeat(4, minmax(0, 1fr));
    /* grid-template-rows: repeat(4, 1fr); */
    /* border: 1px solid blue; */
    gap: calc(1 * var(--masterSpacing));
    overflow: hidden;
}

.gridItem {
    position: relative;
    width: 100%;
    height: 100%; /* This tells the item to fill its assigned grid cell */
}

@media (max-width: 768px) {
    .gridContainer {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-rows: auto !important;
        height: 100%;
        /* gap: var(--relatedComponentGap) */
        /* border: 1px solid red; */
        /* max-height: 100vh; */
    }
}