.headerContainer {
    padding-top: 3vw;
}

.word {
    display: inline-block;
    /* margin-right: 0.25em;  */
}

.char {
    display: inline-block;
    /* opacity: 0;
    transform: translateY(100%); */
}